node-red/.flows.json.backup
[{"id":"1633758d.1b529a","type":"tab","label":"Controller","disabled":false,"info":""},{"id":"6f93c991.2374c8","type":"tab","label":"Vetrak","disabled":false,"info":""},{"id":"800dc20b.5fbda","type":"subflow","name":"FanController","info":"-message should contain: \n    - switch_id - entityid of switch  \n    - button_value - value of button sensor\n","category":"","in":[{"x":40,"y":240,"wires":[{"id":"44c082ef.65b9dc"},{"id":"dc472d5.ca298d"}]}],"out":[],"env":[],"meta":{"module":"FanController","author":"Josef Lola"},"color":"#DDAA99"},{"id":"a261f9f8.695678","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"9175c501.1229e8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f4da99ac.337b18","type":"ui_tab","name":"funbutton","icon":"dashboard","disabled":false,"hidden":false},{"id":"d27ed2a5.09286","type":"ui_group","name":"Termostat","tab":"5e84f3b5.fef40c","order":1,"disp":true,"width":"6","collapse":false},{"id":"5e84f3b5.fef40c","type":"ui_tab","name":"Nodered","icon":"dashboard","disabled":false,"hidden":false},{"id":"a0a25125.8e2d8","type":"api-call-service","z":"800dc20b.5fbda","name":"","server":"a261f9f8.695678","version":3,"debugenabled":true,"service_domain":"switch","service":"turn_off","entityId":"{{switch_id}}","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":970,"y":160,"wires":[[]]},{"id":"a46c9215.46f2e","type":"api-call-service","z":"800dc20b.5fbda","name":"","server":"a261f9f8.695678","version":3,"debugenabled":true,"service_domain":"switch","service":"turn_on","entityId":"${switch_id}","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":970,"y":340,"wires":[[]]},{"id":"d98718e5.f19a68","type":"delay","z":"800dc20b.5fbda","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":590,"y":160,"wires":[["a0a25125.8e2d8"]]},{"id":"558a3798.30bf48","type":"api-current-state","z":"800dc20b.5fbda","name":"","server":"a261f9f8.695678","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"{{switch_id}}","state_type":"str","blockInputOverrides":false,"outputProperties":[],"x":640,"y":300,"wires":[["a0a25125.8e2d8"],["a46c9215.46f2e"]]},{"id":"44c082ef.65b9dc","type":"debug","z":"800dc20b.5fbda","name":"input fancontroller","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":260,"y":140,"wires":[]},{"id":"dc472d5.ca298d","type":"switch","z":"800dc20b.5fbda","name":"button_value","property":"button_value","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"null"}],"checkall":"true","repair":false,"outputs":3,"x":270,"y":260,"wires":[["d98718e5.f19a68"],["558a3798.30bf48","d98718e5.f19a68"],["d98718e5.f19a68"]]},{"id":"947fab61.86f068","type":"ui_gauge","z":"1633758d.1b529a","name":"","group":"d27ed2a5.09286","order":0,"width":0,"height":0,"gtype":"gage","title":"Teplota podlahového okruhu","label":"°C","format":"{{payload}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":200,"wires":[]},{"id":"7f7a1dca.f8fba4","type":"ui_slider","z":"1633758d.1b529a","name":"setpoint","label":"Zadana teplota","tooltip":"","group":"d27ed2a5.09286","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"setpoint","topicType":"msg","min":"20","max":"50","step":"0.2","className":"","x":200,"y":200,"wires":[["947fab61.86f068"]]},{"id":"a6448463.015888","type":"ui_numeric","z":"1633758d.1b529a","name":"","label":"numeric","tooltip":"","group":"d27ed2a5.09286","order":2,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"setpoint","topicType":"msg","format":"{{value}}","min":0,"max":10,"step":"0.2","className":"","x":210,"y":120,"wires":[["947fab61.86f068"]]},{"id":"7457af70.720f4","type":"server-state-changed","z":"6f93c991.2374c8","name":"Tlacitko wc","server":"a261f9f8.695678","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.binary_sensor_wc","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"100","forType":"num","forUnits":"milliseconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"button_value","propertyType":"msg","value":"","valueType":"entityState"},{"property":"switch_id","propertyType":"msg","value":"switch.switch_wc","valueType":"str"}],"x":320,"y":540,"wires":[["e58e5325.11b07"]]},{"id":"e58e5325.11b07","type":"subflow:800dc20b.5fbda","z":"6f93c991.2374c8","name":"wc","env":[{"name":"switch_id","value":"switch.switch_wc","type":"str"}],"x":650,"y":500,"wires":[]},{"id":"a9397cc4.2f666","type":"server-state-changed","z":"6f93c991.2374c8","name":"Vetrak wc","server":"a261f9f8.695678","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.switch_wc","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"switch_id","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"button_value","propertyType":"msg","value":"on","valueType":"str"}],"x":320,"y":460,"wires":[["e58e5325.11b07"],[]]}]